[GLOBAL]
is_debug = 0

[ADB]
# adb install path
directory = C:\Program Files (x86)\ClockworkMod\Universal Adb Driver

[time]
#  go work time  if you are 9  here need  add 8
go_hour = 8
# back work time if you are 18 here need add 18
back_hour = 18

# Touch the screen on a series of coordinates.
[position]
# Slide to unlock
light_position = 300 1000 300 500
# Click "work"
work_position = 358 1215
# Click "time check"
check_position = 274 689
# Click on "off duty"
play_position = 360 760

